input[type= "text"]{
   text-align: right;
   width: 210px;
   
   background-color: black;
   color: white;
}

input[type= "button"]{
   width: 50px;
   
}

input[value= "="],input[value= "AC"]{
   width: 105px;
   
}